.navIcon {
    height: 50px;
    display: inline;
    bottom: 0;
    padding: 10px;
    z-index: 200;
    width: 50px;
    border-radius: 100%;
    background-color: var(--violet);
    border: 1.5px solid var(--specialBlue);
    filter: drop-shadow(0px 0px 10px var(--darkBlue));
}