$animation: 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
.container {
    display: flex;
    flex-direction: column;
    z-index: 50;
    font-size: 4vh;
    min-height: 35vh;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 25%, rgba(29, 28, 26, 1) 100%);
    color: var(--white);
    .box {
        padding: 0 10%;
        h3 {
            font-size: 2em;
            font-family: CormorantInfant;
            margin-bottom: auto;
        }
        h2 {
            font-family: CormorantInfant;
        }
        .title {
            font-size: 1em;
            font-family: inherit;
            text-transform: uppercase;
            font-family: CormorantInfant;
        }
        p {
            color: var(--specialWhite);
            font-size: 16px;
        }
    }
    .appImg {
        max-width: 80%;
        filter: drop-shadow(0 0 .1rem var(--specialBlue));
    }
}

@media (min-width: 800px) {
    .container {
        flex-wrap: nowrap;
        align-items: center;
        background: var(--black);
        padding: 10vh 0;
        flex-direction: row;
        .box {
            .title {
                font-size: .5em;
                font-family: CormorantInfant;
            }
            flex-wrap: wrap;
            flex-direction: row;
            z-index: 50;
            font-size: 6vw;
            align-items: center;
            padding-left: 2%;
            margin: 0;
            p {
                font-size: 20px;
            }
        }
        .appImg {
            margin-right: 5vh;
            display: block;
            border: none;
            max-width: 30%;
            left: 10px;
            top: 0;
        }
    }
}