     $color-background-1:var(--specialBlack);
     $color-background-2:var(--specialBlack);
     $radius: 15px;
     .box {
         margin: 0 0 5vh 5px;
         max-width: 250px;
         height: 400px;
         flex-grow: 3;
         border-radius: $radius;
         background-image: linear-gradient( 270deg, #cc6aa5, #3e91cc, #2dcca7);
         background-size: 400% 400%;
         .card {
             border-radius: $radius;
             width: 100%;
             height: 100%;
             overflow: hidden;
             object-fit: cover;
         }
         .textContainer {
             border-radius: $radius;
             position: relative;
             max-width: 100%;
             font-weight: bold;
             height: 100%;
             bottom: 101%;
             left: 0;
             -webkit-box-align: center;
             -ms-flex-align: center;
             align-items: center;
             -webkit-box-pack: center;
             -ms-flex-pack: center;
             justify-content: center;
             display: -webkit-box;
             display: -ms-flexbox;
             display: flex;
             -webkit-box-orient: vertical;
             -webkit-box-direction: normal;
             -ms-flex-direction: column;
             flex-direction: column;
             position: relative;
             padding: 10%;
             background-color: $color-background-1;
             >* {
                 letter-spacing: 1px;
                 color: var(--white);
             }
             h3 {
                 text-shadow: 0 0 10px var(--specialDarkBlue), 0 0 10px var(--specialDarkBlue);
                 font-size: 18px;
                 line-height: normal;
                 font-weight: bold;
                 text-transform: uppercase;
                 color: var(--white);
             }
         }
     }
     
     .animationCard {
         -webkit-animation: animateIt 5s linear infinite both alternate;
         animation: animateIt 5s linear infinite both alternate;
         box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
     }
     
     @-webkit-keyframes animateIt {
         0% {
             background-position: 0% 50%
         }
         100% {
             background-position: 100% 50%
         }
     }
     
     @-moz-keyframes animateIt {
         0% {
             background-position: 0% 50%
         }
         100% {
             background-position: 100% 50%
         }
     }