.content {
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 10vh;
    p {
        position: relative;
        z-index: 200;
    }
}

.bell {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.item {
    margin-top: 10vh;
}

.image {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 50%;
}

.box {
    display: flex;
    flex-direction: column;
    margin: 5vh 0;
    max-width: 80%;
}

@media (min-width: 720px) {
    .image {
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%;
    }
    .box {
        display: flex;
        flex-direction: row;
        margin: 5vh 0;
        max-width: 90%;
    }
    .content {
        flex-direction: row;
        justify-content: center;
        min-height: inherit;
        p {
            max-width: 750px;
            min-width: 500px;
        }
        h3 {
            margin: 0;
        }
    }
    .lawyer {
        width: 300px;
        position: relative;
        left: 15vw;
        top: 3vh;
    }
}