.baseContainer {
    width: 100%;
    position: relative;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    h3 {
        font-size: 2em;
        font-family: CormorantInfant;
        margin-bottom: auto;
    }
    h2 {
        font-family: CormorantInfant;
    }
    p {
        font-size: 16px;
    }
}

.containerFirst {
    @extend .baseContainer;
    background-color: var(--white);
}

.containerThird {
    @extend .baseContainer;
    min-height: 80vh;
}

.containerSecond {
    @extend .baseContainer;
    min-height: 0;
}

.containerFourth {
    @extend .baseContainer;
}

.containerFifth {
    @extend .baseContainer;
    background-color: var(--darkBlue);
    min-height: none;
    background-image: url('/images/writer.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

@media (min-width: 1000px) {
    .baseContainer {
        min-height: 90vh;
    }
    .containerSecond {
        min-height: 70vh;
        background: black;
        padding: 20vh 0;
    }
    .containerFourth {
        min-height: 70vh;
        background: var(--White);
        padding: 10vh 0 0;
    }
}