.container {
    background: linear-gradient(0deg, var(--blue) 98%, rgba(29, 28, 26, 1) 100%);
    .content {
        p {
            max-width: 500px;
        }
        h3 {
            font-size: 2em;
        }
        ul {
            text-shadow: 0 0 3px #fff, 0 0 7px #fff;
            list-style: none;
        }
        .window {
            width: 70%;
        }
    }
}

@media (min-width: 1000px) {
    .container {
        .content {
            p {
                min-width: width 500px;
            }
            h3 {
                font-size: 3em;
            }
            ul {
                font-size: 2.5vh;
            }
            .window {
                width: 10%;
            }
        }
    }
}