.content {
    flex-wrap: wrap;
    flex-direction: row;
    background-color: var(--specialBlack);
    p {
        max-width: width 500px;
    }
    h3 {
        font-size: 2em;
    }
    ul {
        text-shadow: 0 0 3px #fff, 0 0 7px #fff;
        list-style: none;
    }
}

.window {
    width: 95%;
}

.contact {
    display: none;
}

@media (min-width: 1000px) {
    .content {
        p {
            min-width: width 500px;
        }
        h3 {
            font-size: 3em;
        }
        ul {
            font-size: 2.5vh;
        }
    }
}