.title {
    font-size: 4vh;
    text-align: center;
    font-family: CormorantInfant;
    text-transform: uppercase;
    margin-bottom: 5vh;
}

@media (min-width: 1000px) {
    .title {
        font-size: 4vh;
        margin-bottom: 10vh;
    }
}