.content {
    .title {
        z-index: 1;
    }
    display: flex;
    flex-wrap: wrap;
}

.coverUp {
    width: 100%;
    position: absolute;
    object-fit: cover;
    height: 100%;
}

.cover {
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
}

.coverImageContainer {
    z-index: 1;
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: bold;
    line-height: normal;
    max-width: 100%;
    padding: 3%;
    .title {
        margin: 0;
        background: #fff;
        overflow: hidden;
        background: linear-gradient(90deg, rgba(150, 48, 30, 1) 0%, rgba(199, 201, 88, 1) 10%, rgba(28, 147, 46, 1) 20%, rgba(74, 165, 168, 1) 30%, rgba(89, 90, 165, 1) 40%, rgba(84, 16, 67, 1) 50%, rgba(28, 58, 63, 1) 60%, rgba(82, 175, 183, 1) 70%, rgba(78, 170, 76, 1) 80%, rgba(150, 48, 30, 1) 90%, rgba(199, 201, 88, 1) 100%);
        background-size: 1000% 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animateTitle 12s linear infinite both;
        display: block;
    }
    .coverImage {
        .legend {
            font-size: 3.5vw;
            color: var(--specialWhite);
        }
    }
}

.itemsContainer {
    display: flex;
    min-width: 100%;
}

@media (min-width: 800px) {
    .coverUp {
        display: none;
    }
    .cover {
        align-items: flex-end;
    }
    .content {
        flex-direction: row;
    }
    .coverImageContainer {
        font-size: 6vw;
        margin-top: 0;
        .coverImage {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            background-attachment: fixed;
            -webkit-background-attachment: fixed;
            background-size: 80%;
            background-color: black;
            background-repeat: no-repeat;
            background-image: url('/images/hand-shake-1.jpg');
            max-width: 90%;
            font-size: 3vw;
            padding: 0;
        }
    }
    .itemsContainer {
        align-self: center;
        justify-content: center;
    }
}

@media (min-width: 1400px) {
    .coverImageContainer {
        max-width: 80%;
        background-size: 70%;
        .title {
            font-size: 6.5vw;
        }
        .coverImage {
            background-size: 65%;
            .legend {
                font-size: 2vw;
            }
        }
    }
}

@media (min-width: 1500px) {
    .coverImageContainer {
        max-width: 75%;
        .title {
            font-size: 5.5vw;
        }
    }
}

@-webkit-keyframes animateTitle {
    0% {
        background-position: 0% 50%
    }
    100% {
        background-position: 100% 50%
    }
}

@-moz-keyframes animateTitle {
    0% {
        background-position: 0% 50%
    }
    100% {
        background-position: 100% 50%
    }
}

@keyframes animateTitle {
    0% {
        background-position: 0% 50%
    }
    100% {
        background-position: 100% 50%
    }
}