.content {
    width: 100%;
    position: relative;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    z-index: 0;
    min-height: 0;
    font-size: 4vh;
    justify-content: center;
    background: var(--black);
    color: var(--white);
    padding-bottom: 10px;
    .box {
        margin: 1%;
        padding: 0 10%;
        .title {
            text-align: center;
            font-size: 1em;
            text-transform: uppercase;
            font-family: CormorantInfant;
        }
        p {
            color: var(--specialWhite);
            font-size: 16px;
        }
    }
    .bell {
        display: block;
        border: none;
        width: 10%;
        left: 10px;
        top: 0;
        max-width: 150px;
    }
    .bellAnimation {
        -webkit-animation: bell-animation 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: bell-animation 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}

@media (min-width: 1000px) {
    .content {
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
        min-height: 70vh;
        background: var(--black);
        .box {
            flex-wrap: wrap;
            flex-direction: row;
            z-index: 200;
            font-size: 6vw;
            align-items: center;
            padding-left: 2%;
            margin: 0;
            max-width: 70%;
            .title {
                margin-bottom: 0;
            }
        }
    }
}

@-webkit-keyframes bell-animation {
    0%,
    100% {
        -webkit-transform: rotatez(0deg);
        transform: rotatez(0deg);
    }
    30%,
    60% {
        -webkit-transform: rotatez(-40deg);
        transform: rotatez(-40deg);
    }
    50%,
    70% {
        -webkit-transform: rotatez(40deg);
        transform: rotatez(40deg);
    }
}

@keyframes bell-animation {
    0%,
    100% {
        -webkit-transform: rotatez(0deg);
        transform: rotatez(0deg);
    }
    30%,
    60% {
        -webkit-transform: rotatez(-40deg);
        transform: rotatez(-40deg);
    }
    50%,
    70% {
        -webkit-transform: rotatez(40deg);
        transform: rotatez(40deg);
    }
}

.expandMobile {
    -webkit-animation: expand-animation-mobile 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: expand-animation-mobile 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.expandDesktop {
    -webkit-animation: expand-animation-desktop 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: expand-animation-desktop 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

// @-webkit-keyframes bell-animation {
//     0%,
//     100% {
//         -webkit-transform: rotatez(0deg);
//         transform: rotatez(0deg);
//     }
//     30%,
//     60% {
//         -webkit-transform: rotatez(-40deg);
//         transform: rotatez(-40deg);
//     }
//     50%,
//     70% {
//         -webkit-transform: rotatez(40deg);
//         transform: rotatez(40deg);
//     }
// }
@keyframes expand-animation-mobile {
    0% {
        -webkit-height: 50vh;
        height: 50vh;
    }
    100% {
        -webkit-height: 70vh;
        height: 70vh;
    }
}

@keyframes expand-animation-desktop {
    0% {
        -webkit-height: 40vh;
        height: 40vh;
    }
    100% {
        -webkit-height: 95vh;
        height: 95vh;
    }
}