$text-shadow-blue: 0 0 3px var(--blue),
0 0 7px var(--blue);
.content {
    width: 100%;
    position: relative;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    z-index: 0;
    min-height: 0;
    font-size: 4vh;
    justify-content: center;
    background: var(--black);
    color: var(--white);
    padding-bottom: 10px;
    .box {
        margin: 1%;
        padding: 0 10%;
        .title {
            text-align: center;
            font-size: 1em;
            text-transform: uppercase;
            font-family: CormorantInfant;
        }
        p {
            color: var(--specialWhite);
            font-size: 16px;
        }
        .text {
            text-transform: uppercase;
            font-family: CormorantInfant;
            text-shadow: $text-shadow-blue
        }
        .phrase {
            text-transform: uppercase;
            font-family: CormorantInfant;
            text-shadow: $text-shadow-blue
        }
    }
}

@media (min-width: 1000px) {
    .content {
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
        min-height: 70vh;
        background: var(--black);
        .box {
            flex-wrap: wrap;
            flex-direction: row;
            z-index: 200;
            font-size: 6vw;
            align-items: center;
            padding-left: 2%;
            margin: 0;
            max-width: 70%;
            .title {
                margin-bottom: 0;
            }
            .phrase {
                font-size: 1.5vw;
            }
        }
    }
}