$b: 1.5em;
$blur: blur(9px);
$rect: inset(0);
.navContainer {
    display: absolute;
    font-weight: bold;
    top: 0;
    .nav {
        font-size: 5.5em;
        position: fixed;
        display: flex;
        flex-direction: column;
        right: 0;
        margin: 0;
        padding: 100px;
        display: flex;
        flex-direction: column;
        background-image: url('/images/galaxy-2.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: black;
        height: 100%;
        list-style: none;
        z-index: 100;
        width: 100%;
        text-transform: uppercase;
        &:before {
            position: absolute;
            z-index: -1;
            top: -$b;
            right: -$b;
            bottom: -$b;
            left: -$b;
            border: inherit;
            border-color: transparent;
            background: inherit;
            background-clip: border-box;
            -webkit-filter: $blur;
            filter: $blur;
            -webkit-clip-path: $rect;
            clip-path: $rect;
            content: '';
        }
    }
}

.item {
    z-index: 300;
    color: var(--specialBlue);
    height: 100vh;
    a {
        padding: 10px 20px;
        font-weight: bold;
        text-align: center;
    }
    &:hover {
        font-family: CormorantInfant;
        font-style: italic;
        text-transform: lowercase;
        cursor: pointer;
        color: var(--blue);
    }
}

.navOpen {
    display: block;
    width: 100%;
}

.navClose {
    display: none;
}

.bars {
    margin: 50px;
    height: 6em;
    position: fixed;
    padding: 1em;
    right: 0;
    z-index: 200;
    width: 6em;
    border-radius: 50px;
    background-color: var(--white);
    cursor: pointer;
    &:hover {
        background-color: var(--specialWhite);
    }
}