.content {
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 200;
    font-size: 4vh;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 25%, rgba(29, 28, 26, 1) 100%);
    color: var(--white);
    .title {
        font-size: 1em;
        font-family: inherit;
    }
    p {
        color: var(--specialWhite);
    }
}

.box {
    margin: 1%;
    padding: 0 10%;
}

.text {
    display: flex;
    flex-wrap: wrap;
    img {
        width: 100px;
    }
}

.bell {
    max-width: 80%;
}

@media (min-width: 800px) {
    .content {
        flex-wrap: nowrap;
        align-items: center;
        background: var(--black);
        padding: 0;
        .title {
            font-size: .5em;
        }
        .box {
            flex-wrap: wrap;
            flex-direction: row;
            z-index: 200;
            font-size: 6vw;
            align-items: center;
            padding-left: 2%;
            margin: 0;
        }
        .bell {
            display: block;
            border: none;
            width: 35%;
            left: 10px;
            top: 0;
            margin-right: 5vh;
        }
    }
    .bar {
        display: none;
    }
}