.content {
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 200;
    padding: 5vh 0 0;
    font-size: 4vh;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    p {
        max-width: 80%;
        padding: 2vh 0;
    }
}

.box {
    margin: 1%;
    padding: 0 10%;
}

.text {
    display: flex;
    flex-wrap: wrap;
    img {
        width: 100px;
    }
}

.bell {
    width: 80%;
    position: relative;
    top: 35px;
    border: 3px solid white;
    background-color: white;
}

@media (min-width: 1000px) {
    .content {
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        .box {
            flex-wrap: wrap;
            flex-direction: row;
            z-index: 200;
            font-size: 4vh;
            align-items: center;
            padding: 1%;
        }
        .bell {
            border: 1px solid white;
            width: 50%;
            left: 10px;
        }
    }
}